[classID="tab1"] {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    color: var(--pinkcolor);
    border-top: solid 1px var(--pinkcolor);
    text-transform: capitalize;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 10px;
  }
[classID="tab2"] {
   
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    text-transform: capitalize;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 10px;
  }
  [classID="TabList"]{
    border: 1px solid rgba(228,228,228,.5);
  }
  .reviesconent{
   
    padding: 30px;
  }
  .reviesconent h2{
    font-family: var(--fontfamily);
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 0em;
  }
  .topreview{
   padding-bottom: 40px;
    border-bottom: 2px solid rgba(228,228,228,.5);

  }
  .secondreview{
margin-top: 30px;
  }
  .secondreview h4{
    font-family: var(--fontfamily);
  }
  .help h5{
    font-family: var(--fontfamily);
    padding-left: 5px;
  }
  .related{
    margin-top: 30px;
    text-transform: capitalize;
  }
  .related h3{
    font-family: var(--fontfamily);
  }
  