.email{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .send{
    border: none;
    background-color: transparent;
    font-weight: 600;

  }
  .send:hover{
    color: var(--pinkcolor);
  }
  .email::after{
    margin-top: 40px;
    content:url('/images/leafes.webp');
  }
  @media screen and (max-width: 992px) {
    .email::after{
    
      content:'';
    }
  }