.topnav .nav-link {
    color: var(--maincolor);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 16px;
    margin: 10px;
    color: white;
    text-decoration: none;
    border-bottom: none;
}
.navbar{
    padding: 0;

}

.topnav .nav-link:hover {
    color: yellow;
}
.topnav .nav-link:active {
color: black!important;
}

.topnav {
   
    z-index: 1000;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
}

.topnav img {
    max-height: 80px;
    margin-left: 30px ;
    max-width: 100%;
    padding-right: 30px;
}
.navbar-toggler{
    margin-right: 30px ;
}
.nav-item{
    text-decoration: none;
}
.shoppingcart {
    position: relative;
    margin-right: 20px;
}

.shoppingcart span {
    position: absolute;
    left: 20px;
    top: -5px;
    background-color: #83D8D5;
    color: var(--maincolor);
    border-radius: 20px;
    height: 20px;
    width: 20px;
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .topnav .nav-link {
        color: black;

padding:10px;
    }
    .navbar .topnav .collapse{
        width: 100%;
        z-index: 2;
        background-color:rgb(231, 229, 229);
        color: black !important;
   
    }}
    