






.navbar img {
    max-height: 80px;
   
    max-width: 100%;
    padding-right: 30px;
}

.navbar-toggler {
    margin-right: 30px;
}

.nav-item {
    text-decoration: none;
}

.shoppingcart {
    position: relative;
    margin-right: 10px;
}
path:hover{
    fill:var(--yellowcolor);
  }
.shoppingcart span {
    position: absolute;
    left: 20px;
    top: -5px;
    background-color: #83D8D5;
    color: var(--maincolor);
    border-radius: 20px;
    height: 20px;
    width: 20px;
    font-size: 15px;
    text-align: center;
}



.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -100px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 16px;
    z-index: 1;
}
.dropdown-content li:hover {
     color:var(--yellowcolor);
}

.dropdown:hover .dropdown-content {
    display: block;
  
}


li {
    list-style: none;
    color: black !important;
    margin-top: 10px;
}
.nav-item{
    color: white;
}
a {
    text-decoration: none;
  
}


.header {
    transition: background-color 0.3s ease;
    background-color: transparent; 
  }
  
  .header.scrolled {
    background-color: var(--pinkcolor); 
  }
.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}

.nav-link:hover {
    color: var(--yellowcolor);
}


.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    
}

@media only screen and (max-width: 900px) {
    .nav-menu {
        display: block;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
      
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .navbar img {
        max-height: 80px;
       
       width: 40%;
        padding-right: 20px;
    }
    .nav-link{
        color: black !important;
   
        margin-bottom: 20px;
    }
  
    .nav-menu.active {
        left: 0%;
    }

    .nav-item {
        margin: 5rem 0;
        color: black;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}