.Emptycart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:70px ;
   
    flex-direction: column;
}
.Emptycart h5{
    margin-top: 40px !important;
    font-size: 25px;
    color: #333;
    font-family:var(--fontfamily);
    font-weight: 700;
    letter-spacing: 0em;
    margin: 0 0 15px;
    line-height: 1.1;
}
.Emptycart p{
    margin: 0 0 15px;
}
.Emptycart button{
    margin-top: 10px;
    background: #333;
    border: none;
    color: #f6f6f6;
    display: inline-block;
    line-height: normal;
    z-index: 1;
    overflow: hidden;
    position: relative;
    padding: 15px 38px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;

    user-select: none;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    transition: all .4s ease-in-out;

}
.Emptycart button:hover{
    background-color: var(--pinkcolor);
}