.mySwiper {
    height: 100vh;
    font-optical-sizing: auto;
    text-transform: capitalize !important;
    color: white;
    margin-bottom: 50px;
    top: 0;
}

.slide1 {

    height: 800px;
    padding: 70px;
    display: flex;
    padding-top: 270px;
    background-repeat:no-repeat;
    background-image: url('/images/try1.jpg');
    background-size: cover;
  
    background-position: center;
    background-attachment: fixed;
    
    
    
}
.slide3{
    height: 800px;
    padding: 70px;
    display: flex;
    padding-top: 270px;
    background-repeat:no-repeat;
    background-size:contain;
    background-image: url('/images/slider-bg3_2000x.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.slide3 button {
    background: #ffffff;
    color: #333333;
    border: none;
    font-size: 14px;
    padding: 8px 20px;
    height: 50px;
    width: 120px;
    line-height: normal;
    font-weight: 700;

    text-align: center;
    text-transform: capitalize !important;
}
.slide1 button {
    background: #ffffff;
    color: #333333;
    border: none;
    font-size: 14px;
    padding: 8px 20px;
    height: 60px;
    width: 130px;
    line-height: normal;
    font-weight: 800;

    text-align: center;
    text-transform: capitalize !important;
}
.slide3 button:hover {
    background: #333333;
    color: #ffffff;
    animation: 1.1s ease 0s normal none 1 running ;
}

.slide3 h2 {
    line-height: 1.2;
    font-family: var(--fontfamily);
    font-weight: 100;
    font-size: 50px !important;
    margin-bottom: 25px;

}

.slide3 p {
    font-size: 18px;
}

.slide3 button:hover {
    background: #333333;
    color: #ffffff;
    animation: 1.1s ease 0s normal none 1 running ;
}

.slide1 h2 {
    line-height: 1.2;
    font-family: var(--fontfamily);
    font-weight: 300 !important;
    font-size: 60px !important;
    margin-bottom: 25px;

}

.slide1 p {
    font-size: 18px;
}

.socialicons {
    margin-top: 50px;
}

.icons {
    margin: 10px;
    padding: 10px;
    width: 50px;
    font-size: 50px;
    border-radius: 50px;
    background-color: #E19B9A;

}

.icons:hover {
    transition: all .4s ease-in-out;
    background-color: black;
}

.slide2 {
    background-size:contain;
    background-image: url('/images/slider-bg2_2000x.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
    background-repeat:no-repeat;
    padding: 70px;
    display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.slide2 img{
    width: 50px;
}
.flarsal{
    background-color: white;
    padding: 50px;
max-width: 600px;   
    color: black;
    width: 100%;
}
.innerflarsal {
    border: 1px solid #efefef;
padding: 50px;

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.innerflarsal h2{
    font-family: var(--fontfamily);
    font-size: 40px;
margin-bottom: 25px;
font-weight: 400;
line-height: 1.5;
}
.innerflarsal p{
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 100;
}
.slide2 button{
    color: #ffffff;
    background-color: #333333;
    border: none;
    font-size: 14px;
    padding: 8px 20px;
    height: 50px;
    width: 120px;
    line-height: normal;
    font-weight: 700;

    text-align: center;
    text-transform: capitalize !important;
}
.slide2 button:hover {
    background-color: #E19B9A;
    animation: 1.1s ease 0s normal none 1 running ;
}